<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Trade Alerts{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="site-header position-relative">
      <div class="status-container d-flex justify-content-between w-100 position-absolute top-0 px-3">
        <div class="status-row status-left d-flex flex-column align-items-start">
          {% block status_left %}{% endblock %}
          <a href="#" class="status-link mt-1">Reconnect API</a>
        </div>
        <div class="status-row status-right d-flex flex-column align-items-end">
          {% block status_right %}{% endblock %}
        </div>
      </div>
      <div class="header-center text-center my-5 pt-5">
        <h1 class="site-title">
          🚀 Trade Alerts ({{ current_filter|capitalize }}) 🚀
        </h1>
      </div>
    </header>
    <main class="container-fluid pt-2">
      {% block content %}{% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparkline/2.1.2/jquery.sparkline.min.js"
      integrity="sha512-+Y5LcqbhaF206H8I1sR+jwaRRXnpkVcdGPObSzqGTNQOX1zX5g07b/yU+j4Fa47CoJjT2fCfirq0QRSliNSbPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
    ></script>
    {% block scripts %}
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
